body {
    background-color: rgb(252, 161, 176);
    display:flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 100%;
    padding: 2vw;
    border: none;

}

button:hover{
    background-color: rgb(7, 5, 5);
    color: white
}


input {
    background-color: pink;
    
}

input:hover {
    background-color: rgb(247, 247, 242);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: whitesmoke;
    width: 90px;
    padding: 2vw;
    border-radius: 100%;
    margin: 20px;
}

p:hover {
    background-color: black;
    color:white;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    width: 80px;
    padding: 2vw;
    border-radius: 100%;
    margin: 20px;
}

h4:hover {
    background-color: black;
    color:white;
}

div{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}