body {
  margin: 0;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center both horizontally and vertically */
  height: 100vh;
}

h1 {
  margin-top: 20px;
}

.image-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust as needed */
}

.generate-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.content-container {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: 20px; /* Adjust as needed */
}

.random-image {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.caption {
  text-align: center;
  font-size: medium;

}
