body {
  margin: 0;
/*   background-image: url('background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center both horizontally and vertically */
  height: 100vh;
}

.header-container {
  background-color: rgb(254, 167, 182);
  padding: 20px;
  text-align: center;
  width: 100%; /* Make the header span the entire width */
  position: fixed; /* Fix the header at the top of the page */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
  padding-bottom: 30px;

}

h1, h3 {
  margin: 0;
  font-family: 'Concert One', cursive;
  color: white;
}


.image-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; 
}

.generate-button {
  background-color: rgb(254, 167, 182);
  color: white;
  font-family: 'Concert One', cursive;
  border: none;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s; /* Add transition for smooth effect */
}

.generate-button:hover {
  transform: scale(1.1); /* Increase size on hover */
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.8); /* Add box shadow on hover */
}

.content-container {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: 20px; 
}

.random-image {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.caption {
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}


.save-button {
  background-color: pink;
  color: #fff;
  border: none;
/*   border-radius: 50%; */
  padding: 10px; 
  margin-bottom: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.save-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(46, 204, 113, 0.8);
}

.saved-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



/* Existing styles... */

.saved-image-box {
  margin: 5px;
  padding: 10px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
}

.saved-image-box:hover {
  transform: scale(1.1);
}

.saved-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.2s; /* Add transition for smooth scaling */
  transform-origin: 0% 0%; /* Set the transform origin to the top-left corner */
}

.saved-image-box:hover .saved-image {
  transform: scale(1.2); /* Increase size on hover to reveal the whole image */
}



